- if @tournaments.any?
  = link_to "Create new", new_tournament_path
  - @tournaments.each do |tournament|
    = link_to tournament do
      .jumbotron.jumbotron-fluid
        .container
          %h1.display-4=tournament.title
- else
  .alert.alert-warning{role: "alert"}
    No tournaments found. Create
    = link_to "new", new_tournament_path