= form_for @tournament do |f|
  %label Tournament Title
  = f.text_field :title
  %hr
  = f.fields_for :teams do |f|
    %div
      %label Team Title
      = f.text_field :title
  %hr
  = f.submit "Create tournament"