%h2= @tournament.title

%hr
.row
  .col
    %p
      %i Division A
    %hr
    - @tournament.first_division.teams.each do |team|
      %p= team.title

    - if @tournament.division_results("first")
      %hr
      %p
      %i Division A results
      %hr
      - @tournament.division_results("first").each do |team|
        %p #{team.title} - #{team.score}
    - else
      = link_to "Generate Division A results", tournament_division_results_path(tournament_division_id: @tournament.first_division.id), method: :post

  .col
    %p
      %i Division B
    %hr
    - @tournament.second_division.teams.each do |team|
      %p= team.title

    - if @tournament.division_results("second")
      %hr
      %p
      %i Division B results
      %hr

      - @tournament.division_results("second").each do |team|
        %p #{team.title} - #{team.score}
    - else
      = link_to "Generate Division B results", tournament_division_results_path(tournament_division_id: @tournament.second_division.id), method: :post
%hr
%p
  %i Play-off
%hr
- if @tournament.division_results("first") && @tournament.division_results("second")
  - play_off = @tournament.play_off.pluck(:title)
  - 4.times do
    %p #{play_off.shift} - #{play_off.pop}

%hr
%p
  %i Winner
%hr
= @tournament.winner
